html{
	scroll-behavior: smooth;	
}

body{
	font-family: 'Tw Cen MT', Verdana, Geneva, Tahoma, sans-serif; 	
	margin:0;
    background: url("./planos/stock.png");
    background-size: auto 100%;
}

#cabecalho{
    background-color: white;
    height: 50px;
    width: 100%;
    display: block;
    position: fixed;
    border-bottom: 2px solid lightgray;
}

#links-empresas{
    height: 30px;
    padding-left: 35px;
    float: left;
    padding-top: 10px;
}

#links-empresas img{
    height: 100%;
    margin-right: 20px;
}

#links-empresas a:link, a:visited, a:link:active, a:visited:active{
    text-decoration: none;
}

#cartoes{
    float: right;
    padding-right: 35px;
}

#cartoes a:link, a:visited, a:link:active, a:visited:active{
    color: black;
    text-decoration: none;   
}

#cartoes div{
    border: none;
    margin-top: 2px;
    padding-top: 15px;
    padding-bottom: 12px;
    padding-left: 7px;
    padding-right: 7px;
    display: inline-block;
    border-radius: 5px;
}

#cartoes #escolar{
    border: 1px solid yellow;
    background-color: yellow;
    color: black;
}

#cartoes #cidadao:hover{
    color: green;
}

#cartoes #escolar:hover{
    color: gray;
}

#cartoes #valetransporte:hover{
    color: red;
}

#cartoes #especial:hover{
    color: purple;
}

#cartoes #senior:hover{
    color: brown;
}



#secaoinicial{
    display: block;
    height: 100%;
}

#intro {
    display: block;
    height: 50px;
    width: 400px;
    padding-top: 12%;
    padding-left: 7%;
}

#intro #info{
    text-align: center;
    background-color: white;
    border-radius: 35px;
    padding: 10%;
}

#intro #info #areaCpf h2{
    margin-bottom: 10px;
}

#intro #info #areaCpf #txtCpf{
    font-family: 'Tw Cen MT', Verdana, Geneva, Tahoma, sans-serif;
    font-size: 22px;
    border: 0px solid hidden;
}

#intro #info #areaCpf #cpfInvalido{
    margin-top: 0px;
    user-select: none;
    color: red;
}

#intro #info #botoesIntro div{
    text-align: center;
    margin-top: 2px;
    padding-top: 15px;
    padding-bottom: 12px;
    padding-left: 10px;
    padding-right: 10px;
    display: inline-block;
    border-radius: 5px;
}

#intro #info #botoesIntro #regulamento{
    border: 1px solid black;
    color: black;
    background-color: white;
    margin-right: 5px;
}

#intro #info #botoesIntro #prosseguir{
    border: 1px solid yellow;
    color: black;
    background-color: yellow;
    margin-left: 5px;
}

#intro #info #botoesIntro #areaProsseguir{
    margin: 0px;
    padding-top: 5px;
}

#intro #info #botoesIntro #regulamento:hover{
    color: gray;
    border: 1px solid gray;
}

#intro #info #botoesIntro #prosseguir:hover{
    color:gray;
}

#intro #info #botoesIntro a:link, a:visited, a:link:active, a:visited:active{
    text-decoration: none;
}

#sombra{
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: #00000070;
    display: block;
}

#sombra #area{
    width: 640px;
    height: 580px;
    margin: 2% auto;
    padding: 10px;
    background-color: white;
    text-align: center;
    border-radius: 35px;
}

#sombra #area #regulamento{
    background-color: white;
    border: 2px solid black;
    height: 73%;
    width: 90%;
    border-radius: 25px;
    margin: 0 auto;
    padding: 10px;
    display:flex;
}

#sombra #area #fechar{
    text-align: center;
    margin-top: 9px;
    padding-top: 15px;
    padding-bottom: 12px;
    padding-left: 7px;
    padding-right: 7px;
    display: inline-block;
    border-radius: 5px;
    border: 1px solid black;
    color: black;
    background-color: white;
    margin-right: 5px;
}

#sombra #area #fechar a:link, a:visited, a:link:active, a:visited:active{
    text-decoration: none;
}

#sombra #area #fechar:hover{
    color: gray;
    border: 1px solid gray;
}

#creditImg{
    position: absolute;
    bottom: 10px;
    right: 10;
    height: 75px;
}

#creditImg img{
    height: 100%;
}